* {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../Background color/pexels-karolina-grabowska-4203100.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}

body {
  font-family: "Quicksand", sans-serif;
}

a:link {
  text-decoration: none;
}

a:hover:link {
  text-decoration: underline;
}

/*.logo{
  position: Fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-image: url("../Background color/white.jfif");
  background-size: auto;
  border-radius: 0px;
  border: 0px;
  margin: 0px auto;
  height: 120px;
  width: 100%;
  padding: 5px;
  opacity: 0.5;
}*/

.logo{
  position: Fixed;
  top: 0px;
  left: 0px;
  margin: 0px auto;
  width: 100%;
  padding: 5px;
  z-index: 10;
}

.logo-background{
  position: Fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  border-radius: 0px;
  border: 0px;
  margin: 0px auto;
  height: 120px;
  width: 100%;
  padding: 5px;
  opacity: 0.5;
  background-image: url("../Background color/white.jfif");
  background-repeat: repeat-x;

}

.designs{
  position:relative;
  top: 140px;
}

.offices-designs{
  position:relative;
  top: 100px;
}

.lv-designs{
  position:relative;
  top: 100px;
}

.bed-designs{
  position:relative;
  top: 100px;
}

.bth-designs{
  position:relative;
  top: 100px;
}

.designs a:hover {
  color: rgb(128, 57, 0);
}

.designs h3 {
  font-size: 22px;
}

.designs a {
  color: rgb(0, 0, 0);
}

.designs h3 {
  padding: 20px;
}

.offices-designs img{
  width: 800px;
  margin: 10px;
}

.lv-designs img{
  width: 800px;
  margin: 10px;
}

.bed-designs img{
  width: 800px;
  margin: 10px;
}

.bth-designs img{
  width: 800px;
  margin: 10px;
}

#off-page-title{
  position:relative;
  top: 110px;
}

#lv-page-title{
  position:relative;
  top: 110px;
}

#bed-page-title{
  position:relative;
  top: 110px;
}

#bth-page-title{
  position:relative;
  top: 110px;
}

#intoart-logo {
  border-radius: 20px;
}

#intoart-logo:hover {
  opacity: 0.9;
}

#page-title {
  position:relative;
  top: 110px;
  font-size: 45px;
}

#description1 {
  position:relative;
  top: 140px;
  font-size: 30px;
}

#description2 {
  position:relative;
  top: 140px;
}

#offer-title{
  position:relative;
  top: 140px;
}

#offer-video {
  border-radius: 20px;
  position:relative;
  top: 140px;
}

#offer-video:hover {
  opacity: 0.9;
}

#description3 {
  font-size: 30px;
  position:relative;
  top: 140px;
}

#paragraph1{
  position:relative;
  top: 140px;
}

#our-designs {
  font-size: 30px;
}

.consultations{
  position:relative;
  top: 140px;
}

#consultations{
  position:relative;
  top: 140px;
}

#cons-page a {
  color: rgb(0, 0, 0);
}

#cons-page a:hover {
  color: rgb(128, 57, 0);
}

#contact{
  position:relative;
  top: 140px;
}

#contact span {
  font-weight: 600;
}

#contact a:hover {
  color: rgb(128, 57, 0);
}

#contact a {
  color: rgb(0, 0, 0);
}

/* latin-ext */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58i-wi40.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}